.aspect-ratio {
  --ratio: 1/1;
}
.aspect-ratio:before {
  content: '';
  float: left;
  padding-top: calc(100% / (var(--ratio)));
}
.aspect-ratio:after {
  clear: left;
  content: ' ';
  display: table;
}
