// Add your custom colors to the $colors array. Requires a name (for class names), hue (in degrees: http://hslpicker.com/), and an optional saturation (defaults to 70%)

$colors: ("red", 0), ("orange", 25), ("yellow", 55), ("green", 110), ("cyan", 170), ("blue", 210), ("purple", 270), ("pink", 300);

$stops: (1, 10%), (2, 20%), (3, 30%), (4, 40%), (5, 50%), (6, 60%), (7, 70%), (8, 80%), (9, 90%);

@each $color in $colors {
  @each $stop in $stops {
    $h: nth($color, 2);
    $s: 70%;
    $l: nth($stop, 2);
    @if length($color) > 2 {
      $s: nth($color, 3);
    }
    
    .bg-#{nth($color, 1)}-#{nth($stop, 1)} {
      background-color: hsl($h, $s, $l);
    }
    
    .color-#{nth($color, 1)}-#{nth($stop, 1)} {
      color: hsl($h, $s, $l);
    }
  }
}
@each $stop in $stops {
  $l: nth($stop, 2);
  .bg-gray-#{nth($stop, 1)} {
    background-color: hsl(0, 0, $l);
  }
    
  .color-gray-#{nth($stop, 1)} {
    color: hsl(0, 0, $l);
  }
}
.bg-white {
  background-color: #fff; 
}
.color-white {
  color: #fff; 
}
.bg-black {
  background-color: #000; 
}
.color-black {
  color: #000; 
}
