$sizes: ("\\.5", 0.5), ("\\.75", 0.75), ("1", 1), ("1\\.25", 1.25),
  ("1\\.5", 1.5), ("1\\.75", 1.75), ("2", 2), ("2\\.5", 2.5), ("3", 3), ("4", 4);

@each $size in $sizes {
  .rem-#{nth($size, 1)} {
    font-size: #{nth($size, 2)}rem;
  }

  .em-#{nth($size, 1)} {
    font-size: #{nth($size, 2)}em;
  }
}
